.activeCategory {
  border: 1.5px solid #0a5;
  border-radius: 10px;
  span {
    color: #0a5;
    margin-left: 0;
  }
  i {
    margin-left: 5px;
    visibility: visible;
  }
  &:hover {
    opacity: 0.8;
    i {
      opacity: 0.8;
    }
    span {
      opacity: 0.8;
    }
  }
}

.nonActiveCategory {
  border: 1.5px solid rgba(0,0,0,0);
  &:hover {
    span {
      opacity: 0.8;
    }
  }
  i {
    visibility: hidden;
    margin-left: 5px;
  }
}

.category {
  cursor: pointer;
  margin-bottom: 20px;
  width: 150px;
  transition: padding-right 0.4s;
  span {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 5px;
  }
}
